# Billionaires Statistics Dataset (2023) in the World (Data Analysis)

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

#make plots inline
%matplotlib inline

## data 

<p><b>rank:</b> The ranking of the billionaire in terms of wealth.</p>
<p><b>finalWorth:</b> The final net worth of the billionaire in U.S. dollars.</p>
<p><b>category:</b> The category or industry in which the billionaire's business operates.</p>
<p><b>personName:</b> The full name of the billionaire.</p>
<p><b>age:</b> The age of the billionaire.</p>
<p><b>country:</b> The country in which the billionaire resides.</p>
<p><b>city:</b> The city in which the billionaire resides.</p>
<p><b>source:</b> The source of the billionaire's wealth.</p>
<p><b>industries:</b> The industries associated with the billionaire's business interests.</p>
<p><b>countryOfCitizenship:</b> The country of citizenship of the billionaire.</p>
<p><b>organization:</b> The name of the organization or company associated with the billionaire.</p>
<p><b>selfMade:</b> Indicates whether the billionaire is self-made (True/False).</p>
<p><b>status:</b> "D" represents self-made billionaires (Founders/Entrepreneurs) and "U" indicates inherited or unearned wealth.</p>
<p><b>gender:</b> The gender of the billionaire.</p>
<p><b>birthDate:</b> The birthdate of the billionaire.</p>
<p><b>lastName:</b> The last name of the billionaire.</p>
<p><b>firstName:</b> The first name of the billionaire.</p>
<p><b>title:</b> The title or honorific of the billionaire.</p>
<p><b>date:</b> The date of data collection.</p>
<p><b>state:</b> The state in which the billionaire resides.</p>
<p><b>residenceStateRegion:</b> The region or state of residence of the billionaire.</p>
<p><b>birthYear:</b> The birth year of the billionaire.</p>
<p><b>birthMonth:</b> The birth month of the billionaire.</p>
<p><b>birthDay:</b> The birth day of the billionaire.</p>
<p><b>cpi_country:</b> Consumer Price Index (CPI) for the billionaire's country.</p>
<p><b>cpi_change_country:</b> CPI change for the billionaire's country.</p>
<p><b>gdp_country:</b> Gross Domestic Product (GDP) for the billionaire's country.</p>
<p><b>gross_tertiary_education_enrollment:</b> Enrollment in tertiary education in the billionaire's country.</p>
<p><b>gross_primary_education_enrollment_country:</b> Enrollment in primary education in the billionaire's country.</p>
<p><b>life_expectancy_country:</b> Life expectancy in the billionaire's country.</p>
<p><b>tax_revenue_country_country:</b> Tax revenue in the billionaire's country.</p>
<p><b>total_tax_rate_country:</b> Total tax rate in the billionaire's country.</p>
<p><b>population_country:</b> Population of the billionaire's country.</p>
<p><b>latitude_country:</b> Latitude coordinate of the billionaire's country.</p>
<p><b>longitude_country:</b> Longitude coordinate of the billionaire's country.</p>



   <p>
        You can find the dataset on Kaggle by clicking the link below:
    </p>
    <p>
        <a href="https://www.kaggle.com/datasets/nelgiriyewithana/billionaires-statistics-dataset" target="_blank">
            1000 Richest People in the World Dataset
        </a>
    </p>

In [12]:
# read cvs file as pandas dataframe 
df = pd.read_csv("data/Billionaires Statistics Dataset.csv")

In [13]:
# check the head of dataframe 
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [14]:
# check the info about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2564 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

In [15]:
# shape
df.shape

(2640, 35)

we have 1000 columns as mentioned in title

In [19]:
# is there any null value 
df.isna().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

No there is no null value

In [16]:
# find the data types of all columns 
df.dtypes

rank                                            int64
finalWorth                                      int64
category                                       object
personName                                     object
age                                           float64
country                                        object
city                                           object
source                                         object
industries                                     object
countryOfCitizenship                           object
organization                                   object
selfMade                                         bool
status                                         object
gender                                         object
birthDate                                      object
lastName                                       object
firstName                                      object
title                                          object
date                                           object
state                                          object
residenceStateRegion                           object
birthYear                                     float64
birthMonth                                    float64
birthDay                                      float64
cpi_country                                   float64
cpi_change_country                            float64
gdp_country                                    object
gross_tertiary_education_enrollment           float64
gross_primary_education_enrollment_country    float64
life_expectancy_country                       float64
tax_revenue_country_country                   float64
total_tax_rate_country                        float64
population_country                            float64
latitude_country                              float64
longitude_country                             float64
dtype: object

In [20]:
# check if anyperson is repeated or not 
df.personName.value_counts()

Wang Yanqing & family       2
Li Li                       2
Bernard Arnault & family    1
Lei Jufang                  1
Kim Jung-youn               1
                           ..
Chen Shibin                 1
Bennett Dorrance            1
Walter Faria                1
Walter Frey                 1
Inigo Zobel                 1
Name: personName, Length: 2638, dtype: int64

In [29]:
# check the unique countires and value counts 
df.country.unique()

array(['France', 'United States', 'Mexico', 'India', 'Spain', 'China',
       'Canada', 'Germany', 'Switzerland', 'Belgium', 'Hong Kong',
       'Austria', 'Japan', 'United Kingdom', 'Australia', 'Indonesia',
       'United Arab Emirates', 'Russia', 'Chile', 'Monaco',
       'Czech Republic', 'Sweden', nan, 'Thailand', 'Uzbekistan',
       'Singapore', 'Nigeria', 'Israel', 'Italy', 'South Africa',
       'Brazil', 'Malaysia', 'South Korea', 'New Zealand', 'Philippines',
       'Taiwan', 'Norway', 'Egypt', 'Denmark', 'Eswatini (Swaziland)',
       'Colombia', 'Netherlands', 'Poland', 'Bahamas', 'Ukraine',
       'Cayman Islands', 'Greece', 'Turkey', 'Argentina', 'Georgia',
       'Portugal', 'Kazakhstan', 'Algeria', 'Vietnam', 'Latvia',
       'Finland', 'Bermuda', 'Luxembourg', 'British Virgin Islands',
       'Cambodia', 'Lebanon', 'Oman', 'Ireland', 'Cyprus', 'Guernsey',
       'Liechtenstein', 'Turks and Caicos Islands', 'Romania', 'Qatar',
       'Uruguay', 'Nepal', 'Slovakia', 'Morocco', 'Hungary', 'Tanzania',
       'Bahrain', 'Peru', 'Andorra', 'Armenia'], dtype=object)

In [30]:
df.country.value_counts()

United States           754
China                   523
India                   157
Germany                 102
United Kingdom           82
                       ...
Portugal                  1
Georgia                   1
Eswatini (Swaziland)      1
Uzbekistan                1
Armenia                   1
Name: country, Length: 78, dtype: int64